/* COLORS */

 :root {
            --bgcolor: #241B33;
            --bgcolor-lighter: #2A213A;
            --surface: #2F253F;
            --surface-hover: #382C4C;
            --txt-primary: #F2F0EF;
            --txt-muted: #ACA9B8;
            --accent-primary: #4D9AE6;
            --accent-primary-hover: #3C86D4;
            --accent-secondary: #FFA566;
            --accent-secondary-hover: #FF8F42;
            --border: #3A304C;
        }