/* COLORS */

/*
SEMANTIC COLOR NAMING SYSTEM
--[prefix-][context][-hierarchy][-volume]

[-volume] is how a color interacts with surrounding colors to stand out or recede.
- loud: increases prominence / visibility against its context
- muted: decreases prominence / blends more into its context
-If no volume is specified, the color is used at its base prominence for the context.

Note: a muted version of a loud color can still appear more prominent than a loud version of a muted color, depending on the context.

*/

 :root {
    --neutral-base: #FAF8F5;
    --neutral-contrast: #1C1E1A;
    --neutral-contrast-muted: #585C4F;

    --surface-base: #f5f2ee;

    --surface-color: #1E293B;
    --surface-color-loud: #312E81;
    --surface-color-txt: #F8FAFC;
  
    --accent-primary:#4D9AE6;           
    --accent-primary-muted: #7cb9e8;         
    --accent-primary-loud: #1F6FC0;
    --accent-primary-border: #04284d;   

    --accent-secondary: #9477ca;                  
    --accent-secondary-loud:#6520e6;  
    --accent-secondary-muted: #a393c3;  

    --hero-txt-container-bg:rgba(124, 185, 232, 0.778);    
    
   
            

/*SET COLORS DO NOT CHANGE*/
            
    --topbar: #d9dad5; /*set to hero-bg-img*/
            
    --logo-f:#7CB9E8;
    --logo-t:#1F6FC0;
    --logo-mid:#4D9AE6;
        
}

