/*FONTS IN USE*/

/*Lora - google fonts <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap" rel="stylesheet"> */

/*Local font - General Sans

General Sans Font - Weights & Styles:
   300 - Light
   400 - Regular
   400 italic - Regular Italic
   600 - SemiBold
   600 italic - SemiBold Italic
   700 - Bold
*/


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-Bold.woff2') format('woff2');
  font-weight: 700;   
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic; 
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-Bold.woff2') format('woff2');
  font-weight: 700;   
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic; 
  font-display: swap;
}

@font-face {
  font-family: 'General Sans';
  src: url('../fonts/general-sans/GeneralSans-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
