footer{
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display:flex;
    background-color: var(--surface-color);
    color:var(--neutral-contrast-muted);
    align-items: center;
    justify-content: center;
}

.footer-icon{
    width:32px;
    height:32px;
    margin-left: 1.5rem;
}

.footer-ft{
    color: var(--neutral-base);
    font-weight: 600;
    line-height: 1.2rem;
    margin-left: 1em;
}

.links{
margin-left: auto;
}


.links a{
 color: var(--neutral-base);
  font-size: 0.6rem; 
  line-height: 1.2; 
  font-weight: 400;
}

.soc-media{
display:flex;
    margin-left: auto;
    display: none;
}

.soc-media img{
    height:1.2rem;
    width:auto;
    margin-right: 1rem;
}

.soc-media img:hover{
    opacity: 0.5;
}

@media (min-width:466px) {
.links a{
  font-size: 0.8rem; 
}
}

@media (min-width:768px) {
    .links{
        margin-left: 1em;
    }
.soc-media{
    display:block
}
    .video{
    display: block;
}
}