 /* HEADER NAV FOOTER */

 .main-header {
  background-color: var(--topbar);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.5rem;
  display: flex;
}

.main-header img{
height:1rem;
width: auto;
margin-right: 2rem;
}

@media (min-width:550px) {
  .main-header img{
height:2rem;
}
}