 /* GLOBAL LAYOUT AND STYLING */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
  font-family: 'Lora', serif;
  background-color: var(--bgcolor);
  color: var(--text-primary);
  line-height: 1.6;
}

 /*Text*/

h1, 
h2, 
h3, 
.snippet-headline, 
a{
  font-family: 'General Sans', sans-serif;  
  margin: 0 0 1rem 0;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3{
  font-size: 1.3rem;
  font-weight: 600;
}

.snippet-headline{
  font-size: 1rem;
  color: var(--text-primary);
  font-weight: 300;
}

a{
  font-size: 1rem;
  color:var(--accent-primary);
  text-decoration: none;
  font-weight: 400;
}

a:hover{
  color:var(--accent-primary-hover);
  text-decoration: underline;
}

a:visited{
  color:var(--accent-secondary)
}

/* Layout*/
 .wrapper {
            width: 100%;
            padding: 0;
            box-sizing: border-box;
             margin: 0 auto;
        }

        header {
            width: 100%;
            padding: 1rem;
            box-sizing: border-box;
            height: 100px;
        }


        
        .content {
                display: flex;
                flex-direction: column-reverse;
                gap: 1rem;
                justify-content: center;
            }

        main {
            max-width: 800px;
            margin: 0 auto;
            padding: 1rem;
        }


        aside {
            padding: 3rem 1rem 1rem 1rem;
        }

        .aside-cards-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            padding: 2rem;
            justify-content: center;
        }

        .aside-card{
            padding: 0.5rem;
            
        }

        @media (min-width: 1000px) {
            .content {
                flex-direction: row;
                justify-content: center;
            }

            aside {
                padding: 1rem;
                flex: 0 0 280px;
                margin-right: auto;
            }

            .aside-container {
                flex-direction: column;
                flex-wrap: nowrap;

            }
        }

         footer {
            width: 100%;
            padding: 1rem;
            box-sizing: border-box;
            height: 100px;
        }