 /* CSS EXCLUSIVELY FOR INDEX.HTML */
 
 main article{
    padding: 20px;
 }

 .newsletter{
            background-color:var( --translucent-bg);
            margin-top: auto;
            border-radius:15px ;
            padding:1rem;
        }

 .newsletter p{
    margin-bottom: 1rem;
 }


        
        
            form input{
                width:50%
            }
