 /* CSS EXCLUSIVELY FOR INDEX.HTML */


.news img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  object-position: center; 
}
 .news{
    display:flex;
    flex-direction: column;
    padding-bottom:2rem;
}


  .text-klipp {
    display: -webkit-box;
    -webkit-line-clamp: 7; 
   -webkit-box-orient: vertical;
    overflow: hidden;
}
  

@media (min-width:768px){

    .news-txt{
    padding:1rem;
  }

  .style-img-right{
    flex-direction: row-reverse;
    margin-top:2rem;
  }

  .style-img-left{
    flex-direction: row;
    margin-top: 2rem;
  }

    .text-klipp{
    -webkit-line-clamp: 5;
  }
    

.style-img-left .news-img,
.style-img-right .news-img {
  flex: 0 0 400px; 
  max-width: 600px;
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.cropped-img {
  flex: 0 0 400px;  
  max-width:200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
}



 .newsletter{
  background-color:var(--accent-secondary);
  border-radius:15px ;
  padding:1rem;
}

 .newsletter p{
  margin-bottom: 1rem;
 }


       
        
form input{
  width:70%;
  height:auto;
}

            
@media(max-width:310px){

main img{
  display:none;
}

aside{
  display:none;
}
footer{
  display:none;
}
}
          